* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  max-width: 960px;
  min-width: 300px;
  margin: 0 auto;
  padding: 0 10px;
}

.d-flex {
  display: flex;
}

a {
  text-decoration: none;
  color: unset;
}

ul li {
  list-style: none;
}

.small-txt {
  font-size: 12px;
}

.pt-40 {
  padding-top: 40px;
}

/* Header */

header {
  background-color: rgb(255, 105, 0);
  color: white;
  position: fixed;
  width: 100%;
  z-index: 9;
}

header .container {
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

header a {
  padding: 20px 7px;
}

header a:hover {
  text-decoration: underline;
}

.logo {
  width: 8rem;
}

/* Main */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 130px;
  padding-bottom: 60px;
}

.product {
  max-width: 32%;
}

.product:hover .product-img {
  display: none;
}

.product:hover .product-hover {
  display: inline;
}

.product-img {
  width: 100%;
}

.product-hover {
  display: none;
}

.img-container {
  position: relative;
}

.heart {
  position: absolute;
  top: 10px;
  right: 0;
  padding: 10px;
  background-color: white;
  max-width: 50px;
}

.heart svg {
  width: 1.5rem;
}

.heart:hover svg {
  fill: red;
}

.banner {
  position: absolute;
  bottom: 50px;
  left: 0px;
  font-weight: 600;
}

.sconto {
  color: white;
  background-color: red;
  padding: 5px 10px;
}

.sostenibili {
  margin-left: 5px;
  color: white;
  background-color: green;
  padding: 5px 10px;
}

.product-name {
  font-weight: bold;
}

.product-price {
  color: red;
  font-size: 14px;
  font-weight: bold;
}

.product-price span {
  color: black;
  text-decoration: line-through;
  font-weight: 400;

  padding-left: 10px;
}

/* Footer */

footer {
  background-color: rgb(26, 26, 26);
  color: white;
}

footer .container {
  justify-content: space-between;
  padding: 20px 10px;
}

footer a {
  display: inline-block;
  padding: 10px 0px;
  padding-right: 7px;
}

footer a:hover {
  text-decoration: underline;
}
