* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  max-width: 960px;
  min-width: 300px;
  margin: 0 auto;
  padding: 0 10px;
}

.d-flex {
  display: flex;
}

a {
  text-decoration: none;
  color: unset;
}

ul li {
  list-style: none;
}

.small-txt {
  font-size: 12px;
}

.pt-40 {
  padding-top: 40px;
}

/* Header */

header {
  background-color: rgb(255, 105, 0);
  color: white;
}

header .container {
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

header a {
  padding: 20px 7px;
}

.logo {
  width: 8rem;
}

/* Main */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px 0;
}

.product {
  max-width: 32%;
}

.product-img {
  width: 100%;
}

/* Footer */

footer {
  background-color: rgb(26, 26, 26);
  color: white;
}

footer .container {
  justify-content: space-between;
  padding: 20px 10px;
}

footer a {
  display: inline-block;
  padding: 10px 0px;
  padding-right: 7px;
}
